.mainContainer{
	width: 100%;
}

body{
	background: lightgray;
}

.header{
	display: flex;
}

.header{
	width: 100%;
	background: orange;
	border-color: red;
}

header li{
	display: inline;
	padding-right: 30px;	

}

nav{
	display: flex;
	background: gray;
	width: 75%;
	justify-content: center;
}



header a {
	width: 25%;
	text-decoration: none;
}

.content{
	display: flex;
}

.container {
	background: lightgreen;
}



.box1{
	display: flex;
	flex-direction: column;
}

.container li{
	display: inline;
}

.masterFooter li {
	display: inline;
	padding-left: 30px;
}

.masterFooter{
	display: flex;
	justify-content: center;
	background: yellow;
	height: 100px;
}

.img1column img{
	width: 400px;
	height: 228px;
}

.heroContainer{
	display: flex;	
	justify-content: center;
	margin-top: 10px;
}

.heroContainer img{
	width:100%;
	height:300px;
}

.content, .box3{

	padding-right: 120px;
}

.content{
	justify-content: space-between;
}





@media (max-width: 600px) {

  .mainContainer {
  	display: flex;
    flex-direction: column;
    width: 100%;
  }

  .content,.subContent, .masterFooter, .header{
  	flex-direction: column;
  }

  .content{

  	width: 100%;
  }

}

@media (max-width: 600px) {
	.mainContainer{
		width: 100%;
	}
	.heroContainer a img{
		width: auto;
	}
}
